#WelcomePane {
    -fx-background-image:url('../../img/Home/WelcomeBackground.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}